<ion-content color="dark" padding>
    <p>
        <center>
            <img src="assets/listaimage.png" width="128" alt="APPblank">

        </center>
    </p>

    <ion-list lines="full">
        <ion-list-header>{{list.title}}</ion-list-header>
        <ion-item *ngIf="list.tasks.length==0">
            <p><em>Não há itens </em>
            </p>
        </ion-item>
        <ion-item *ngFor="let task of list.tasks" (click)="duplicacao(task)">

            <ion-icon name="duplicate-outline" slot="start" *ngIf="task.marcacao"></ion-icon>
            <ion-icon name="duplicate-outline" slot="start" *ngIf="!task.marcacao"></ion-icon>
            {{task.nome_item}} - {{task.data_item}}
            <ion-button slot="end" fill="clear" color="dark" (click)="removeTask(task)">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>


    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">

            <ion-fab-button color="primary" href="/listaritens">
                <ion-icon name="list"></ion-icon>
            </ion-fab-button>

            <ion-fab-button color="primary" (click)="showAddTask()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

    </ion-fab>





</ion-content>